*{
    width: 100%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    
}
body{
    box-sizing: border-box;
}



header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(20, 13, 13);
    
}

h1{
    color: antiquewhite;
    font-weight:bold;
    font-family: cursive;
}
nav ul{
    display: flex;   
    justify-content: end;

}

.work-container{
    width: 90%;
    border-left: 3px solid rebeccapurple;
    margin: 3% 8%;
   ;
}
.work{
    width: 5%;
    border-right: 3px solid blueviolet;
    height: 500%;
}
.work-subcontainer{
    border: 2px solid lightgreen;
    width: 88%;
    margin-left: 10%;
    margin-top: -2%;
}
.work-box1{
    width: 95%;
    border: 1px dashed lightskyblue;
    background-image: url();
    margin-right: 0%;
}
.work-box1 .sub-section{
    border: 1px double burlywood;
    width: 20%;

}
.mini-box{
    width: 50%;
    border: solid black;
    margin: 5%;
   
    
}
