* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
body{
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    background-color: gray;
    padding: 0;
}

.header-div{
    flex-wrap: wrap;
    width: 30%;
    margin: 1% 25% 1% 0;
    
}

#profile-pic {
    border: outset purple;
    border-radius: 50%;
    width: 100px;  
    margin-left: 10%;
    margin-bottom: 2%;
}
.logo{
    display: flex;
    
}


h1 a{
    flex-wrap: wrap;
    flex-direction: column;
    font: normal bolder cursive;
    text-decoration: none;
    background-color:rgb(221, 238, 244);
    padding: 1%;    
}


.top-links{

    width: 50%;
    margin: 1% 1% 2% 20%; /*why 0 doesn't affect its left margin*/
    margin-top: 1%;

}

.top-links ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: start;
    padding:20px;
    
    
    
}

ul li a{
    flex-direction: column;
    font-weight: bold;
    color: aqua; /* why does not have effect*/
    padding: 7px;
    text-align: justify;
}
.hero-image{
    display: flex;
    justify-content: end;
    
    background: rgba(26, 24, 24, 0.548) url('/assets/images/hero-i.jpg') no-repeat center;
    background-size:cover;
    
    align-items: flex-end;
    
}

#sub-title { 
    
    flex: wrap;
    flex-direction: row;

    
    background-color: aqua;
    width: 25%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    
    font-style: oblique;
    font-weight: bold;


}




.about-div{
    display: flex;
    flex-wrap: wrap; 
    width: 85%;
    height: 300px; 
    margin: 2% 10% 1%;
    border-style: dotted;
}


#about-head {
 
 
border-style: dotted;
    
    height: 65%;
    border-right: 3px solid rgb(42, 35, 35);
    padding: 10px;
    margin-top: 2px;
    padding-left: 1px;
    margin-right: 2px;
    font-weight: bolder;
    font-size: 32px;
    text-align: end;
    flex-basis: 0;

   

}

#content-about{
    display: flex;
    flex-wrap: wrap; 
    width: 85%;
    margin: 1%;
    margin-left: 0;
    margin-top: 0;
    
    height: 65%;
    
    padding: 10px;
    border: solid;
}
 #about-head h3 {
    font-weight: bolder;
    font-size: 32px; 
}

#content-about p{
    text-align: justify;
    line-height: 1.5;
    padding-bottom: 0;
   
    

}

 

.hero-image{  /*check tomorrow*/
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
}








.work-container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    padding: 10px;
    margin: 2% 10%;
    margin-bottom: 20%;
    height: 600px;
    border-style: dotted;   
}

#work-aside {
    
    height: 100%;
    border-right: 3px solid rgb(42, 35, 35);
    padding: 10px;
    margin-top: 2px;
    padding-left: 0;
    font-weight: bolder;
    font-size: 32px;
    text-align: end;
}




.content-boxes{
    display: flex;
    flex-wrap: wrap; 
    width: 84%;
    margin-left: 4px;
}
.mini-box1{
    flex-wrap: wrap;
    flex-direction: column;
    width: 98%; 
    border: solid rgb(149, 7, 7);
    padding: 20px;
    margin: 1px;
    background-image: url('/assets/images/keyb-image.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;

}
h4{
    font-family: monospace;
    background-color: aqua;
    text-align: left;
}

.mini-box2, .mini-box3, .mini-box4, .mini-box5{
    flex-wrap: wrap;
    flex-direction: column;
    width: 49%; 
    border: solid rgb(149, 7, 7);
    padding: 40px;
    margin: 1px;
    background-image: url('/assets/images/wave-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}


.footer-container{
    display: flex;
    flex-wrap: wrap; 
    width: 85%;
    padding: 10px;
    margin: 2% 10%;
    
    border-style: dotted;
}
.footer-subdiv1{
    border-style: dotted;
    height: 100%;
    border-right: 3px solid rgb(42, 35, 35);
    padding: 10px;
    margin-top: 2px;
    padding-left: 0;
    font-weight: bolder;
    font-size: 32px;
    text-align: end;
    flex-basis: 0%;
    
}
.footer-subdiv2{
    display: flex;
    flex-wrap: wrap; 
    width: 84%;
    margin-left: 4px;
    border: solid;
    justify-content: start;
    align-items: center;
}
footer h3 {
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 32px;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    
}

footer nav a {
    color: black;
    margin: 0 10px;
    padding: 20px;
}

footer nav a:hover {
    text-decoration: underline;
}
a:hover{
    background-color: rgb(251, 251, 191);
    color: rgb(96, 59, 209);
}
@media screen and (max-width: 768px) {
    .header-div>.top-links
    
}
@media screen and (max-width: 768px) {
    p{
   flex-flow: column wrap; /*??????????*/

    }
    
}
@media screen and (max-width: 768px) {
  p{
    font-size: small;
   flex: 0 5 0; /*how can i get p wrapped within in its parental width?????*/

    }
    
}